body {
  background-color: #f9fbfd;
}

#users {
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  min-height: 600px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.card-header-title {
  text-align: center;
}
